<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :logged_in_at %><br>
    <%= f.datetime_select :logged_in_at %>
  </div>
  <div class="field">
    <%= f.label :logged_out_at %><br>
    <%= f.datetime_select :logged_out_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
